#album-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#album-grid:after {
  content: "";
  flex: auto;
}

#album-grid .item {
  width: 20%;
  padding: 3px;
}

#album-grid .item img {
  width: 100%;
}

@media (max-width: 768px) {
  #album-grid .item {
    width: calc(100% / 3);
  }
}